@model IEnumerable<Domaine.Entities.Reward>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Event.NomEvent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Organizer.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.firstReward)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecondReward)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThirdReward)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Event.NomEvent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Organizer.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.firstReward)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecondReward)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThirdReward)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RewardId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RewardId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RewardId })
        </td>
    </tr>
}

</table>
