@model EventManage.Models.TicketViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="area-line">Edit Your Ticket</h2>

@using (Html.BeginForm("Edit", "Ticket", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="container">
    <div class="row">
       <div class="col-md-6 col-sm-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Prix, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Prix, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Prix, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="fileinput fileinput-new" data-provides="fileinput">
            <div class="fileinput-new ">
                @*recuperer l'image*@
                @{string path = "~/Content/Upload/" + @Html.DisplayFor(model => model.Logo);}
                @*enlever label for pour afficher seulement l'image*@
                <img src="@Url.Content(path)" width="170" height="170" />
            </div>
            <div class="fileinput-preview fileinput-exists img-no-padding" style="max-width: 170px; max-height: 170px;"></div>
            <div class="fileinput-new img-no-padding" style="max-width: 170px; max-height: 170px;">

                @Html.TextBox("Image", null, new { type = "file" })
                @*Html.EditorFor(model => model.ImageUrl, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.Logo, "", new { @class = "text-danger" })


            </div>
        </div>
    </div>
    <div class="row buttons-row">
        <div class="col-md-4 col-sm-4">
            <button class="btn btn-outline-danger btn-block btn-round" type="reset">Cancel</button>
        </div>

        <div class="col-md-4 col-sm-4">
            <input type="submit" value="Save" class="btn btn-outline-primary btn-block btn-round" />
        </div>
        </div>
    </div>

    }

    
