@model EventManage.Models.EvenementViewModel

@{ViewBag.Title = "Create";
}
<div class="main">
    <div class="section">
        <div class="alert alert-danger alert-with-icon" id="dateValidator" data-notify="container" hidden="true">
            <div class="container">
                <div class="alert-wrapper">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <i class="nc-icon nc-simple-remove"></i>
                    </button>
                    <div class="message"><i class="nc-icon nc-bell-55"></i> This is a notification with close button and icon and have many lines. You can see that the icon and the close button are always vertically aligned. This is a beautiful notification. So you don't have to worry about the style.</div>
                </div>
            </div>
        </div>
        <div class="container">
            <h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Create a new Event</font></font></h3>
            @using (Html.BeginForm("Create", "Evenement", FormMethod.Post,
                            new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <br>
                <br>
                <br>
                <br>
                <br>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                
                    <div class="row">

                        <div class="col-md-5 col-sm-5">
                            <h6><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Event Image</font></font></h6>

                            @Html.TextBox("file", null, new { type = "file" })
                            @Html.ValidationMessageFor(model => model.ImageEvent, "", new { @class = "text-danger" })
                            <span class="field-validation-valid text-danger" data-valmsg-for="ImageEvent" data-valmsg-replace="true"></span>
                        </div>
                        <div class="col-md-7 col-sm-7">
                            <div class="form-group">
                                <h6>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            Name
                                        </font>
                                    </font><span class="icon-danger"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span>
                                </h6>
                                @Html.EditorFor(model => model.NomEvent, new { htmlAttributes = new { @class = "form-control border-input", placeholder = "Event name" } })
                                @Html.ValidationMessageFor(model => model.NomEvent, "", new { @class = "text-danger" })
                                <span class="field-validation-valid text-danger" data-valmsg-for="Welcometext" data-valmsg-replace="true"></span>

                            </div>
                            <div class="form-group">
                                <h6>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            Location
                                        </font>
                                    </font><span class="icon-danger"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span>
                                </h6>
                                @Html.EditorFor(model => model.LocationEvent, new { htmlAttributes = new { @class = "form-control border-input", placeholder = "Event Location" } })
                                @Html.ValidationMessageFor(model => model.LocationEvent, "", new { @class = "text-danger" })
                                <span class="field-validation-valid text-danger" data-valmsg-for="Welcometext" data-valmsg-replace="true"></span>

                            </div>
                            <div class="form-group">
                                <h6>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            Welcome text
                                        </font>
                                    </font><span class="icon-danger"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span>
                                </h6>
                                @Html.EditorFor(model => model.Welcometext, new { htmlAttributes = new { @class = "form-control border-input", placeholder = "Event name" } })
                                @Html.ValidationMessageFor(model => model.Welcometext, "", new { @class = "text-danger" })
                                <span class="field-validation-valid text-danger" data-valmsg-for="Welcometext" data-valmsg-replace="true"></span>
                            </div>

                            <div class="form-group">
                                <h6>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            Starting Date of the Event
                                        </font>
                                    </font><span class="icon-danger"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span>
                                </h6>
                                @Html.EditorFor(model => model.DateEventDebut, new { htmlAttributes = new { @class = "form-control border-input", placeholder = "Event Date", type = "date", id = "debut", onchange = "a();" } })
                                @Html.ValidationMessageFor(model => model.DateEventDebut, "", new { @class = "text-danger" })

                                <span class="field-validation-valid text-danger" data-valmsg-for="DateEventDebut" data-valmsg-replace="true"></span>
                            </div>


                            <div class="form-group">
                                <h6>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            Ending Date of the Event
                                        </font>
                                    </font><span class="icon-danger"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span>
                                </h6>
                                @Html.EditorFor(model => model.DateEventFin, new { htmlAttributes = new { @class = "form-control border-input", placeholder = "Event Date", type = "date", id = "fin", onchange = "a();" } })
                                @Html.ValidationMessageFor(model => model.DateEventFin, "", new { @class = "text-danger" })

                                <span class="field-validation-valid text-danger" data-valmsg-for="DateEventFin" data-valmsg-replace="true"></span>

                                <div id="valid" class="alert alert-danger" hidden role="alert">
                                    Invalid begin date or end date
                                </div>
                            </div>


                            <div class="form-group">
                                <h6>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            Availability
                                        </font>
                                    </font><span class="icon-danger"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span>
                                </h6>
                                @Html.EditorFor(model => model.NbPlaceEvent, new { htmlAttributes = new { @class = "form-control border-input", placeholder = "nbr places", type = "number" } })
                                @Html.ValidationMessageFor(model => model.NbPlaceEvent, "", new { @class = "text-danger" })
                                <span class="field-validation-valid text-danger" data-valmsg-for="NbPlaceEvent" data-valmsg-replace="true"></span>
                            </div>

                            <div class="form-group">
                                <h6>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            Payment Mode
                                        </font>
                                    </font><span class="icon-danger"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span>
                                </h6>

                                @Html.EnumDropDownListFor(model => model.Methodepai, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Methodepai, "", new { @class = "text-danger" })
                                <span class="field-validation-valid text-danger" data-valmsg-for="Methodepai" data-valmsg-replace="true"></span>

                            </div>


                            <div class="form-group">
                                <h6>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            Event's Category
                                        </font>
                                    </font><span class="icon-danger"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span>
                                </h6>


                                @Html.EnumDropDownListFor(model => model.Category, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
                                <span class="field-validation-valid text-danger" data-valmsg-for="Category" data-valmsg-replace="true"></span>

                            </div>
                            <div class="form-group">
                                <h6>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            Event's State
                                        </font>
                                    </font><span class="icon-danger"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span>
                                </h6>

                                @Html.EnumDropDownListFor(model => model.EtatEvenement, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.EtatEvenement, "", new { @class = "text-danger" })
                                <span class="field-validation-valid text-danger" data-valmsg-for="EtatEvenement" data-valmsg-replace="true"></span>

                            </div>
                            <div class="form-group">
                                <h6>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            Team who going to work on the Event
                                        </font>
                                    </font><span class="icon-danger"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span>
                                </h6>
                                @Html.DropDownList("TeamFk", (SelectList)ViewData["Biblio"], htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.TeamFk)
                                <span class="field-validation-valid" data-valmsg-for="TeamFk" data-valmsg-replace="true"></span>
                                <br />

                                <div class="form-group">
                                    <h6><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Description of the Event</font></font></h6>
                                    @Html.TextAreaFor(model => model.DescriptionEvent, new { @class = "form-control textarea-limited", placeholder = "This is a textarea limited to 150 characters.", rows = "13", maxlength = "150", type = "textarea" })

                                    @Html.ValidationMessageFor(model => model.DescriptionEvent, "", new { @class = "text-danger" })

                                    <h5>
                                        <small>
                                            <span id="textarea-limited-message" class="pull-right">150 characters left</span>
                                        </small>
                                    </h5>
                                </div>
                            </div>


                        </div>
                    </div>

                    <div class="row buttons-row">
                        <div class="col-md-4 col-sm-4">

                            <button class="btn btn-outline-danger btn-block btn-round"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><a href="/Evenement">Cancel</a></font></font></button>

                        </div>
                        <div class="col-md-4 col-sm-4">

                            <button class="btn btn-outline-primary btn-block btn-round" id="create" type="submit" value="Create"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><a href="/Evenement/Create">Save</a></font></font></button>

                        </div>

                    </div>
               
            }
        </div>
    </div>
</div>
<script>

    
    $("#valid").hide()
    function formatDate(date) {
        var d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2) month = '0' + month;
        if (day.length < 2) day = '0' + day;

        return [year, month, day].join('-');
    }
    function a() {
        
        var date = $("#fin").val();
        var datedebut = $("#debut").val();
        console.log(date)
        var x=formatDate(new Date())


    
            
        if (new Date(date) <= new Date(datedebut)) {
                console.log("here")
                $("#create").attr("disabled", true)
                $("#valid").removeAttr('hidden')
            }
            else {
                $("#create").attr("disabled", false)
                $("#valid").attr('hidden', true)
            }
        }
       
       
    

</script>