@model EventManage.Models.EvenementViewModel

@{
    ViewBag.Title = "Details";
}

<!--

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>EvenementViewModel</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.NomEvent)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NomEvent)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateEventDebut)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateEventDebut)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateEventFin)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateEventFin)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LocationEvent)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LocationEvent)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DescriptionEvent)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DescriptionEvent)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NbPlaceEvent)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NbPlaceEvent)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ImageEvent)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ImageEvent)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Welcometext)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Welcometext)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Methodepai)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Methodepai)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EtatEvenement)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EtatEvenement)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TeamFk)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TeamFk)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.IdEvent }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
    -->
<!--
<div class="features-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="container">
                        <h2 class="title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">@Html.DisplayFor(model => model.NomEvent)</font></font></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="info info-horizontal">
                            <div class="icon icon-success">
                                <i class="nc-icon nc-layout-11"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">@Html.DisplayFor(model => model.Welcometext)</font></font></h4>
                                <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">)</font></font>azertyui</p>
                                <a href="#paper-kit" class="btn btn-link"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">azertyu</font></font></a>
                            </div>
                        </div>
                        <div class="info info-horizontal">
                            <div class="icon icon-warning">
                                <i class="nc-icon nc-palette"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Belle galerie</font></font></h4>
                                <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Passez votre temps à générer de nouvelles idées. </font><font style="vertical-align: inherit;">Vous n'avez plus à penser à mettre en œuvre.</font></font></p>
                                <a href="#paper-kit" class="btn btn-link"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Voir plus</font></font></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info info-horizontal">
                            <div class="icon icon-danger">
                                <i class="nc-icon nc-touch-id"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sécurisé</font></font></h4>
                                <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Plus grand, mais considérablement plus mince. </font><font style="vertical-align: inherit;">Plus puissant, mais remarquablement le pouvoir est efficace.</font></font></p>
                                <a href="#paper-kit" class="btn btn-link"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Voir plus</font></font></a>
                            </div>
                        </div>
                        <div class="info info-horizontal">
                            <div class="icon icon-primary">
                                <i class="nc-icon nc-delivery-fast"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Prototypage rapide</font></font></h4>
                                <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Medium a un nouveau chef de produit, tandis que la startup derrière l'application de messagerie texte défunt ...</font></font></p>
                                <a href="#paper-kit" class="btn btn-link"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Voir plus</font></font></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 ml-auto">
                <div class="iphone-container">
                    <img src="assets/img/sections/iphone.png">
                </div>
            </div>
        </div>
    </div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomEvent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomEvent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateEventDebut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateEventDebut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateEventFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateEventFin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationEvent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationEvent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescriptionEvent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescriptionEvent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NbPlaceEvent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NbPlaceEvent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageEvent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageEvent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Welcometext)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Welcometext)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Methodepai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Methodepai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EtatEvenement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EtatEvenement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeamFk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeamFk)
        </dd>

    </dl>
</div>
-->

<div class="section section-pricing cd-section" id="pricing">
    <!--     *********    PRICING 1     *********      -->
   
        <div class="pricing-1 section">

            <div class="container">
               
                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto text-center">
                        <h2 class="title">Know More about The <b>@Html.DisplayFor(model => model.NomEvent)</b> Event</h2>
                        <h2 class="description"><a href="/Evenement/get_nbplace_dispo">Availability: <b> @Html.DisplayFor(model => model.NbPlaceEvent) </b></h2>
                        <h2 class="title">Event State: <b> @Html.DisplayFor(model => model.EtatEvenement)</b></h2>
                    </div>
                </div>
                <div class="space-top"></div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="card card-pricing" data-color="orange">
                            <div class="card-body">
                                <div class="card-icon">
                                    <span class="icon-simple"><i class="nc-icon nc-basket"></i></span>
                                </div>
                                <h3 class="card-title">You can pay for this Event :</h3>
                                <p class="card-description">
                                    @Html.DisplayFor(model => model.Methodepai)
                                    </br>
                                    </br>

                                </p>
                                <div class="card-footer">
                                    @Html.ActionLink("Print Details", "PrintDetails", new { @class = "btn btn-neutral btn-round" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card card-pricing" data-color="yellow">
                            <div class="card-body">
                                <div class="card-icon">
                                    <span class="icon-simple"><i class="nc-icon nc-watch-time"></i></span>
                                </div>
                                <h3 class="card-title"> When ?</h3>
                                <p class="card-description">
                                    It starts from the <b> @Html.DisplayFor(model => model.DateEventDebut) </b> until the<b> @Html.DisplayFor(model => model.DateEventFin)</b>
                                </p>
                                <div class="card-footer">
                                    @Html.ActionLink("Print Details", "PrintDetails", new { @class = "btn btn-neutral btn-round" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card card-pricing" data-color="green">
                            <div class="card-body">
                                <div class="card-icon">
                                    <span class="icon-simple"><i class="nc-icon nc-settings"></i></span>
                                </div>
                                <h3 class="card-title">To which team it belongs ?</h3>
                                <p class="card-description">
                                    Team number: <b> @Html.DisplayFor(model => model.TeamFk) </b>
                                </p>
                                <div class="card-footer">
                                    @Html.ActionLink("Print Details", "PrintDetails", new { @class = "btn btn-neutral btn-round" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card card-pricing" data-color="blue">
                            <div class="card-body">
                                <div class="card-icon">
                                    <span class="icon-simple"><i class="nc-icon nc-istanbul"></i></span>
                                </div>
                                <h3 class="card-title">Where?</h3>
                                <p class="card-description">
                                    @Html.DisplayFor(model => model.LocationEvent)
                                    </br>
                                    </br>
                                    </br>
                                    </br>

                                </p>
                                <div class="card-footer">
                                    @Html.ActionLink("Print Details", "PrintDetails", new { @class = "btn btn-neutral btn-round" })


                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card card-pricing" data-color="green">
                            <div class="card-body">
                                <div class="card-icon">
                                    <span class="icon-simple"><i class="nc-icon nc-settings"></i></span>
                                </div>
                                <h3 class="card-title">   <a href=@Url.Action("Create", "Ticket", new { id = Url.RequestContext.RouteData.Values["id"] })>Create Ticket</a></h3>
                                <p class="card-description">
                                  
                                </p>
                                <div class="card-footer">
                                   
                                </div>
                            </div>
                        </div>
                    </div>

                    </br>

                </div>
                <div class="row buttons-row">

                    <div class="col-md-4 col-sm-4">

                        <button class="btn btn-outline-primary btn-block btn-round" type="submit"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><a href="/Evenement/Create">Create a new Event</a></font></font></button>

                    </div>

                    <div class="col-md-4 col-sm-4">

                        <button class="btn btn-outline-info btn-block btn-round"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><a href="/Evenement">Cancel</a></font></font></button>

                    </div>
                    <div class="col-md-4 col-sm-4">

                        <button class="btn btn-outline-danger btn-block btn-round"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">@Html.ActionLink("Delete Event", "Delete", new { id = Url.RequestContext.RouteData.Values["id"] })</font></font></button>

                    </div>
                    </br>
                    </br>
                    </br>
                    </br>
                    </br>
                    
                       
                    
                </div>

            </div>

        </div>

    </div>
